<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stocks App</title>
    <script src="https://unpkg.com/rxjs/bundles/Rx.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="TickerDisplay.js"></script>
  </head>
  <body>
    <!--
      NOTE: You'll definitely need to run the demo-server to work on this!

      npm run start

      once it's running, navigate to http://localhost:8080/24-stocks-app
      in your browser.
    -->
    <div style="position: relative">
      <form name="search" onsubmit="return false;">
        <label for="q">search:</label>
        <input name="q" id="q" type="text" autocomplete="off"
          placeholder="enter a symbol name"/>
      </form>
      <div id="suggestions"
        style="
          position: absolute;
          top: 0;
          margin-top: 2em;
          background: white;
          z-index: 100;
        ">
      </div>
      <div id="tickers"></div>
    </div>

    <script src="./app.js"></script>
  </body>
</html>
